$white: #fff;
$light-bg: #e3dfd9;
$light-bg: #eaeaea;
$medium-bg: #c7af99;
$dark: #0f1419;
$blue-dark: #191d3e;
$blue-logo: #232562;
$blue-logo-lighter: hsla(238, 47%, 26%, 75%);

$blue-gradient: linear-gradient(135deg, #232562 85%, #d8d8ea 100%);
// $blue-logo: #191d3e;
