$white: hsl(0, 0%, 100%);
$white-transparent: hsla(0, 0%, 100%, 65%);
$off-white: #f5f5f5;
$light-bg: #eaeaea;
$light-bg-transparent: hsla(0, 0%, 92%, 50%);
$medium-bg: #c7af99;
$clr-accent: #dec34a;

$dark: #0f1419;
$blue-dark: #191d3e;
$blue-dark-transparent: hsla(234, 43%, 17%, 75%);
$blue-dark-transparent: hsla(234, 27%, 24%, 65%);
$blue-logo: #232562;
$blue-logo-transparent: hsla(238, 47%, 26%, 75%);
$blue-light-transparent: hsla(234, 27%, 24%, 25%);
// $blue-logo: #191d3e;

$white-glass-gradient: linear-gradient(
	135deg,
	hsla(0, 0, 100%, 0%) 48%,
	hsl(0, 0%, 100%) 50%,
	hsla(0, 0, 100%, 0%) 50%
);
