@use './colors' as *;

@mixin linkStyle {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	text-decoration: none;
	overflow: hidden;
	cursor: pointer;
}

@mixin linkHover {
	&::before {
		content: '';
		display: block;
		position: absolute;
		bottom: 5px;
		left: 0;
		width: 0;
		height: 2px;
		background-color: $white;
		transition: width 0.2s linear;
	}

	&:hover::before {
		width: 100%;
	}
}

@mixin btnStyle {
	position: relative;
	padding: 0.8em 2em;
	border: 1px solid $blue-logo;
	// border-radius: 5px;
	color: $white;
	background-color: $blue-logo;
	font-family: 'Roboto', sans-serif;
	overflow: hidden;
	cursor: pointer;
	transition: background-color 0.3s linear;

	&:hover {
		// color: $white-transparent;
		background-color: $blue-dark;
	}

	// &:hover {
	// box-shadow: inset 0 0 3px 5px $blue-dark-transparent;
	// background-color: $blue-dark-transparent;
	// }
}

@mixin btnHoverAnimation {
	&::before {
		content: '';
		position: absolute;
		display: block;
		top: 0px;
		left: -100%;
		width: 50%;
		height: 100%;
		background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.3));
		transform: rotate(-45deg);
		transition: left 1s;
	}

	&:hover::before {
		left: 100%;
	}
}

@mixin circle {
	position: absolute;
	background-color: $light-bg-transparent;
	border-radius: 50%;
	z-index: 0;
}
